<html>
<head>
    <style type="text/css">
    :root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat url("https://assets.codepen.io/5283814/water.jpg");
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
}

p {
  font-size: 2rem;
  font-family: Helvetica;
  color: #101010;
}

    </style>
<title>jambot</title>
</head>
<body>
  <div>
  <a href="https://discord.com/api/oauth2/authorize?client_id=802228905380675625&permissions=0&scope=bot">add jambob</a>
  </div>
</body>
</html>